    body{
        font-family: 'Raleway', sans-serif; margin: 0;
    }
    h1{
        font-size: 50px;
    }
    .color{
        color: orange;
    }
section{
    display: flex;
}
.welcome{
    padding-left: 10%;
}
.half-width{
    width: 50%; padding-left: 2%; margin: 0; float: right;
}
.half-width1{
    width: 50%; padding-left: 2%;  float: right; margin-left: 20%; margin-right: 2%;
}
.half-width img{
    width: 100%;
}
.about{
    text-align: justify;
}
.background{
    background-repeat: no-repeat;
    background-image: url(junaid/top-banner.png);
}
.background2{
    background-repeat: no-repeat;
    background-image: url(junaid/dream-bg.png);
    background-position: right;
    margin-top: 60px;
}
.button{
border: 2px;
background-image: linear-gradient(orange, tomato);
color: rgb(255, 255, 255);
padding: 10px;
border-radius: 5px;
margin-left: 40%; text-decoration: none;
}
.photo{
    height: 500px; width: 480px;
}
.style{
    margin-left: 40px;
}
.myphoto{
    height: 600px; width: 150px;
}
.flaxible{
    display: flex;
}
.flax1{
    width: 50%; padding: 0px 8px; margin: 0 60px 0 40px; text-align: justify; border-left: 10px; border-color: blue; box-shadow:10px 10px 10px 10px  rgb(107, 107, 36); border-left: 5px solid rgba(173, 69, 21, 0.815); border-radius: 4px;              
}
.flax2{
    width: 50%; padding: 0px 8px; margin: 0 60px 0 40px; text-align: justify; border-left: 10px; border-color: rgb(112, 112, 185);   box-shadow:10px 10px 10px 10px  rgb(107, 107, 36); border-left: 5px solid blue; border-radius: 4px;
}
.section2{
   background-image: url(junaid/exp-bg.png); background-repeat: no-repeat; background-position: left;
}
.footer{
    text-align: center;
}